body {
  background: rgb(105, 190, 218);
}

.container {
  margin: 50px;
  text-align: center;
}

h2 {
  display: inline;
  font-size: 30px;
}

a {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgba(255, 153, 153, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: 30px;
  margin-left: 35px;
  color: black;
}
